.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  justify-content: center;
  .first-part-logo {
    color: $brand-color;
  }
}
.logo--footer {
  color: $white-color;
  text-align: center;
}
