.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 798px;
  padding: 32px;
  background-color: $white-color;
  z-index: 999;
  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: inherit;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 48px;
  &__link {
    display: block;
    color: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:hover {
      color: $brand-color;
    }
  }
  &--contact {
    margin-top: auto;

    &__link {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: $light-text;
    }
  }
  &--contact &__item:first-child a {
    color: $brand-color;
  }
}

.mobile-menu--social {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  margin-bottom: 48px;
  gap: 20px;

  &__link {
    color: $brand-color;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
  }
}
