.modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s linear;
  z-index: 99;
  &__inner {
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 3s linear;
  }
  &__inner .is-hidden {
    transform: scale(0.1);
  }
  &__close {
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
    width: 30px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
  }
  &__icon {
    fill: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    &:hover {
      color: $brand-color;
    }
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
